<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.festspot.dev.domain.ticketing.TicketingUrlMapper">
    <insert id="insert" keyProperty="ticketingUrlId" useGeneratedKeys="true">
        insert into ticketing_url_tb
        values
        <foreach collection="list" item="ticketing_url" separator=",">
            (default,
            #{ticketing_url.performanceId},
            #{ticketing_url.ticketingUrl},
            #{ticketing_url.ticketingAgencyName})
        </foreach>
    </insert>

    <insert id="insertMany">
        insert into ticketing_url_tb
        values
        <foreach collection="list" item="manyTicketingUrls" separator=",">
            <foreach collection="manyTicketingUrls" item="ticketingUrl" separator=",">
                (default,
                #{ticketingUrl.performanceId},
                #{ticketingUrl.ticketingUrl},
                #{ticketingUrl.ticketingAgencyName})
            </foreach>
        </foreach>
    </insert>

    <resultMap id="TicketingUrlMap" type="com.festspot.dev.domain.ticketing.TicketingUrl">
        <id column="ticketing_url_id" property="ticketingUrlId" />
        <result column="performance_id" property="performanceId" />
        <result column="ticketing_url" property="ticketingUrl" />
        <result column="ticketing_agency_name" property="ticketingAgencyName" />
    </resultMap>
</mapper>