<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.festspot.dev.domain.entity.ticketing.TicketingUrlMapper">
    <resultMap id="relateMap" type="com.festspot.dev.domain.entity.ticketing.TicketingUrl">
        <id property="ticketingUrlId" column="ticketing_url_id" />
        <result property="performanceId" column="performance_id" />
        <result property="ticketingUrl" column="ticketing_url" />
        <result property="ticketingAgencyName" column="ticketing_agency_name" />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="ticketingUrlId">
        insert into ticketing_url_tb
        values
            <foreach collection="list" item="ticketing" separator=",">
                (default,
                #{ticketing.performanceId},
                #{ticketing.ticketingUrl},
                #{ticketing.ticketingAgencyName})
            </foreach>
    </insert>

    <insert id="insertMany">
        insert into ticketing_url_tb
        values
            <foreach collection="list" item="manyTicketingUrls" separator=",">
                <foreach collection="manyTicketingUrls" item="ticketing" separator=",">
                    (default,
                    #{ticketing.performanceId},
                    #{ticketing.ticketingUrl},
                    #{ticketing.ticketingAgencyName})
                </foreach>
            </foreach>
    </insert>
</mapper>