name: github-actions-test

on:
  push:
    branches: [deploy_hoseop]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKER_USERNAME: ${{
        github.ref_name == 'deploy_hoseop' && secrets.DOCKER_USERNAME_HOSEOP ||
        github.ref_name == 'deploy_gwangho' && secrets.DOCKER_USERNAME_GWANGHO
        }}
      DOCKER_PASSWORD: ${{
        github.ref_name == 'deploy_hoseop' && secrets.DOCKER_PASSWORD_HOSEOP ||
        github.ref_name == 'deploy_gwangho' && secrets.DOCKER_PASSWORD_GWANGHO
        }}
      APPLICATION_SECRET: ${{
        github.ref_name == 'deploy_hoseop' && secrets.APPLICATION_SECRET_HOSEOP ||
        github.ref_name == 'deploy_gwangho' && secrets.APPLICATION_SECRET_GWANGHO
        }}
      REACT_ENV: ${{
        github.ref_name == 'deploy_hoseop' && secrets.REACT_ENV_HOSEOP ||
        github.ref_name == 'deploy_gwangho' && secrets.REACT_ENV_GWANGHO
        }}

    steps:          
      - name: checkout
        uses: actions/checkout@v5.0.0
        with: 
          ref: ${{ github.ref }}

      - name: install JDK 21
        uses: actions/setup-java@v5.0.0
        with: 
          java-version: '21'
          distribution: 'temurin'

      - name: docker login
        run: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          
      - name: build spring boot app
        run: |
          cd backend
          echo ${{ secrets.APPLICATION_SECRET }} | base64 --decode > ./src/main/resources/application-secret.yml
          chmod 777 ./mvnw
          ./mvnw clean package -DskipTests
          docker build -t ${{ env.DOCKER_USERNAME }}/spring-app:latest ./
          docker push ${{ env.DOCKER_USERNAME }}/spring-app:latest
      - name: build react app
        run: |
          cd web
          echo ${{ secrets.REACT_ENV }} | base64 --decode > .env
          ls -a
          cat .env
          docker build -t ${{ env.DOCKER_USERNAME }}/react-app:latest ./
          docker push ${{ env.DOCKER_USERNAME }}/react-app:latest
