name: github-actions-ci/cd

on:
  push:
    branches:
      - deploy_hoseop
      - deploy_gwangho
      - deploy_suwon
  workflow_dispatch: #

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKER_USERNAME: ${{
        github.ref_name == 'deploy_hoseop' && secrets.DOCKER_USERNAME_HOSEOP ||
        github.ref_name == 'deploy_gwangho' && secrets.DOCKER_USERNAME_GWANGHO ||
        github.ref_name == 'deploy_suwon' && secrets.DOCKER_USERNAME_SUWON
        }}
      DOCKER_PASSWORD: ${{
        github.ref_name == 'deploy_hoseop' && secrets.DOCKER_PASSWORD_HOSEOP ||
        github.ref_name == 'deploy_gwangho' && secrets.DOCKER_PASSWORD_GWANGHO ||
        github.ref_name == 'deploy_suwon' && secrets.DOCKER_PASSWORD_SUWON
        }}
      APPLICATION_SECRET: ${{
        github.ref_name == 'deploy_hoseop' && secrets.APPLICATION_SECRET_HOSEOP ||
        github.ref_name == 'deploy_gwangho' && secrets.APPLICATION_SECRET_GWANGHO ||
        github.ref_name == 'deploy_suwon' && secrets.APPLICATION_SECRET_SUWON
        }}
      REACT_ENV: ${{
        github.ref_name == 'deploy_hoseop' && secrets.REACT_ENV_HOSEOP ||
        github.ref_name == 'deploy_gwangho' && secrets.REACT_ENV_GWANGHO ||
        github.ref_name == 'deploy_suwon' && secrets.REACT_ENV_SUWON
        }}
      BUILD_MODE: ${{
        github.ref_name == 'deploy_hoseop' && 'hoseop' ||
        github.ref_name == 'deploy_gwangho' && 'gwangho' ||
        github.ref_name == 'deploy_suwon' && 'suwon'
        }}
      SSH_HOST: ${{
        github.ref_name == 'deploy_hoseop' && secrets.SSH_HOST_HOSEOP ||
        github.ref_name == 'deploy_gwangho' && secrets.SSH_HOST_GWANGHO ||
        github.ref_name == 'deploy_suwon' && secrets.SSH_HOST_SUWON
        }}
      SSH_KEY: ${{
        github.ref_name == 'deploy_hoseop' && secrets.SSH_KEY_HOSEOP ||
        github.ref_name == 'deploy_gwangho' && secrets.SSH_KEY_GWANGHO ||
        github.ref_name == 'deploy_suwon' && secrets.SSH_KEY_SUWON
        }}

    steps:
      - name: checkout
        uses: actions/checkout@v5.0.0
        with:
          ref: ${{ github.ref }}

      - name: install JDK 21
        uses: actions/setup-java@v5.0.0
        with:
          java-version: "21"
          distribution: "temurin"

      - name: docker login
        run: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

      - name: build spring boot app
        run: |
          cd festspot_back/FestSpot
          echo ${{ env.APPLICATION_SECRET }} | base64 --decode > ./src/main/resources/application-secret.yml
          chmod 777 ./mvnw
          ./mvnw clean package -DskipTests
          docker build -t ${{ env.DOCKER_USERNAME }}/spring-app:latest .
          docker push ${{ env.DOCKER_USERNAME }}/spring-app:latest
      - name: build react app
        run: |
          cd festspot_front
          docker build --build-arg SERVERNAME=${{ env.BUILD_MODE }} -t ${{ env.DOCKER_USERNAME }}/react-app:latest .
          docker push ${{ env.DOCKER_USERNAME }}/react-app:latest
      - name: ssh deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ env.SSH_HOST }}
          username: ubuntu
          key: ${{ env.SSH_KEY }}
          script: |
            cd /home/ubuntu/project
            
            sudo docker-compose pull
            sudo docker-compose down
            sudo docker-compose up -d
            
